.menu-bar {
   border-bottom: 1px solid grey;
}

.menu-bar .nav-link {
   color: silver;
   border-radius: 0;
}

.menu-bar .nav-link.active {
    color: deepskyblue;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid deepskyblue !important;
    margin-bottom: -2px;
}

.menu-bar .nav-link:hover {
   border-bottom: 2px solid grey;
   margin-bottom: -2px;
}

.no-photos-row {
    margin-top: 20px;
}

.no-photos-row .title {
    font-weight: bold;
    font-size: 18px;
}

.no-photos-row .no-photos {
    display: flex;
    justify-content: center;
}

.container-title {
    font-weight: bold;
    font-size: 18px;
}

.container-details {
    margin-bottom: 40px;
}

.container-permissions {
    margin-bottom: 40px;
    margin-top: 0;
}

.container .row-title {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#settings .row-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#settings .container {
    margin-left: 20px;
}

.tab-content .container .no-permissions {
    display: flex;
    justify-content: center;
}

.tab-content .container .title {
    font-weight: bold;
    font-size: 0.9rem;
}

.tab-content .container-tab {
    margin-top: 20px;
}

.tab-content .container-tags .row-title {
    display: flex;
    justify-content: space-between;
}

.tab-content .container-tags .row-title span {
    width: 200px;
}

/*
 * Tags
 */

.tab-content .container-tags .row-tags {
    margin-top: 15px;
}

.tab-content .container-tags .row-title .tag-buttons {
    width: fit-content;
    display: flex;
    align-items: end;
    padding-right: 1px;
}

.tab-content .container-tags .row-title .tag-buttons button:first-child {
    margin-right: 0;
}

.tab-content .container-tags .btn.btn-outline-primary.btn-sm {
    color: deepskyblue;
    background-color: transparent;
    border-color: deepskyblue;
    width: 30px;
    border: 0;
}

.tab-content .container-tags .btn.btn-outline-primary.btn-sm:hover {
    color: black;
    background-color: deepskyblue;
    border-color: silver;
}

.tab-content .container-tags .btn.btn-outline-primary.btn-sm:focus {
    box-shadow: 0 0 0;
}

.tab-content .container-tags .tag-container {
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
}

.tab-content .container-tags .tag {
    padding: 6px 9px 6px 9px;
    border-radius: 20px;
    color: white;
}

.tab-content .container-tags .tag button {
    transform: translateY(-22%);
    font-size: 0.9rem;
}

.tab-content .container-tags .tag button:focus {
    box-shadow: none;
}

/*
 * Photos
 */
.container-photos #album-gallery {
    display: contents;
}

.container-photos a {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto 10px auto;
    height: 100%;
}

#lg-container-1 .photo-sub-html span:first-child {
    margin-right: 15px;
}

.container-photos img {
    width: 150px;
}

.container-photos a i {
    position: absolute;
    bottom: 0;
    right: 0;
    color: deepskyblue;
}

.container-photos a i.hidden {
    display: none;
}

.container-photos img.selectable:hover {
    box-shadow: 0 2px 2px silver;
}

#deleteModal {
    color: black;
}

.tab-content .container-tab .row-edit-tools {
    margin-bottom: 10px;
}

.tab-content .container-tab .row-edit-tools .btn {
    width: 140px;
    border-radius: 20px;
}

.tab-content .container-tab .row-edit-tools #btn-set-thumbnail  {
    color: deepskyblue;
    border-color: deepskyblue;
}


.tab-content .container-tab .row-edit-tools #btn-set-thumbnail:hover, #btn-set-thumbnail:active, #btn-set-thumbnail:focus, input:checked {
    background-color: deepskyblue !important;
    color: black !important;
    border-color: deepskyblue !important;
}

.tab-content .container-tab .container-upload .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, input:checked {
    background-color: deepskyblue !important;
    color: black !important;
    border-color: deepskyblue !important;
}

.tab-content .container-tab .row-tabs .btn {
    width: 140px;
    border-radius: 20px;
    line-height: 21px;
}

.tab-content .container-tab .row-tabs .btn:first-child {
    margin-right: 10px;
}

.tab-content .container-tab .btn-outline-primary {
    color: deepskyblue;
    border-color: deepskyblue;
}

.tab-content .container-tab .btn {
    width: 80px;
    border-radius: 20px;
    font-size: 0.8rem;
}

@media all and (max-width: 576px) {
    .container-photos img {
        width: 100%;
    }

    .container-photos .col {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .container-photos .col a {
        justify-self: center;
        align-self: center;
        margin: 0;
    }

    .tab-content .container-tab .row-edit-tools div:first-child {
        margin-bottom: 5px;
    }

    .title {
        font-size: 0.9rem;
    }
    
    .subtitle {
        font-size: 0.85rem;
    }
    
    .tab-content .container-about .container-title {
        font-size: 1rem;
    }

    .container-photos #album-gallery {
        display: grid;
        gap: 2px 2px;
    }

    #upload-form input::file-selector-button {
        border-radius: 20px;
        color: deepskyblue;
        background: transparent;
        border: 1px solid deepskyblue;
        padding: 6px 10px 6px 10px;
        width: 100px;
        line-height: 21px;
        font-size: 0.8rem;
    }

    #upload-form .col-md-3 {
        margin-bottom: 10px;
        font-size: 0.8rem;
    }

    .tab-content .container-tags .tag,
    .tab-content .container-tags .tag button {
        font-size: 0.8rem;
    }

    #lg-container-1 .photo-sub-html {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 860px) {
    #lg-container-1 .photo-sub-html {
        font-size: 0.8rem;
    }
}
