{
    email @email@
}

https://@hostname@ { 

log {
    output stdout
    level DEBUG
}


handle_path /static* {
    root * /static
    file_server
}

reverse_proxy /auth/callback/* server:8080

reverse_proxy /auth/realms/gophotos/* keycloak:8080 {
    header_up Host @hostname@
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
}

reverse_proxy server:8080 
}


