https://cosminphotos.ddns.net { 

log {
    output stdout
    level DEBUG
}

handle_path /static* {
    root * /static
    file_server
}

reverse_proxy /auth/callback/* server:8080
reverse_proxy /auth/* keycloak:8080
reverse_proxy server:8080 
}


