.container-upload {
    margin: auto;
}

.container-upload .file-list-container {
    margin-top: 10px;
}

.container-upload .file-ui {
    display: flex;
    align-items: center;
}

.container-upload .file-ui .upload-complete-container {
    background-color: #238636;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    position: relative;
}

.container-upload .file-ui .ok-icon {
    color: white;
    position: absolute;
    top: 3px;
    left: 5px;
}

.container-upload .btn.btn-outline-primary {
    color: silver;
    border-radius: 20px;
    margin-left: 20px;
    width: 100px;
}

.container-upload .btn.btn-outline-primary:hover,.btn.btn-outline-primary:focus {
    background: #238636;
    color: white;
    border: 1px solid #238636;
}

.container-upload .btn.btn-outline-danger {
    border-radius: 20px;
    margin-left: 20px;
    width: 100px;
}

.container-upload .file-ui .progress {
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
    height: 0.15rem;
    background-color: #6a6c6d;
    color: #238636;
}

.container-upload .file-ui .file-label {
    padding-left: 5px;
    padding-right: 5px;
}

.container-upload .file-ui .ui-upload-button {
    width: 30px;
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
}

.container-upload .file-ui .upload-status {
    margin-left: 5px;
    margin-right: 5px;
}

.container-upload .ui-upload-button:hover {
    background: transparent;
}

.container-upload .ui-upload-button:focus {
    background: transparent;
}

@media (max-width: 768px) {
    #upload-form .row:first-child .col:last-child {
        display:flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .container-upload .file-ui {
        display: block;
        margin-bottom: 10px;
    }
}
