.menu-bar {
   border-bottom: 1px solid grey;
}

.menu-bar .nav-link {
   color: silver;
   border-radius: 0;
}

.menu-bar .nav-link.active {
    color: deepskyblue;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid deepskyblue !important;
    margin-bottom: -2px;
}

.menu-bar .nav-link:hover {
   border-bottom: 2px solid grey;
   margin-bottom: -2px;
}

.no-photos-row {
    margin-top: 20px;
}

.no-photos-row .title {
    font-weight: bold;
    font-size: 18px;
}

.no-photos-row .no-photos {
    display: flex;
    justify-content: center;
}

.container-title {
    font-weight: bold;
    font-size: 18px;
}

.container-details {
    margin-bottom: 40px;
}

.container-permissions {
    margin-bottom: 40px;
    margin-top: 0;
}

.container .row-title {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#settings .row-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#settings .container {
    margin-left: 20px;
}

.tab-content .container .no-permissions {
    display: flex;
    justify-content: center;
}

.tab-content .container .title {
    font-weight: bold;
}

.tab-content .container-tab {
    margin-top: 20px;
}

.container-photos #album-gallery {
    display: contents;
}

.container-photos a {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto 10px auto;
    height: 100%;
}

.container-photos img {
    width: 150px;
}

.container-photos a i {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #02cd05;
}

.container-photos a i.hidden {
    display: none;
}

.container-photos img.selectable:hover {
    box-shadow: 0 2px 2px silver;
}

#deleteModal {
    color: black;
}

.tab-content .container-tab .row-edit-tools {
    margin-bottom: 10px;
}

@media all and (max-width: 576px) {
    .container-photos img {
        width: 70px;
    }

    .container-photos .col {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .container-photos .col a {
        justify-self: center;
        align-self: center;
        margin-bottom: 5px;
    }
}
