@charset "UTF-8";

.container-album-card {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

.container-album-card.card:hover {
    box-shadow: 1px 2px 2px #d9d9d9;
}

.container-album-card a {
  text-decoration: none;
}

.container-album-card h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.container-album-card {
  max-width: 250px;
}

.container-album-card img {
    height: 180px;
}

.container-album-card .card {
  float: left;
  padding: 0 1.7rem;
  padding-left: 0;
  padding-right: 0;
}

.container-album-card .card-body {
    padding: 5px 0 2px 5px;
}

.container-album-card a {
    color: #292929;
    text-decoration: none;
}

.container-album-card a:hover {
    text-underline-position: under;
    text-decoration: underline;
}

.container-album-card .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f48a7;
    color: #fff;
    padding: 0.5em;
}
.container-album-card .date span {
    display: block;
    text-align: center;
}

.container-album-card .card-body {
    padding: 5px 0 2px 5px;
}


.container-album-card .card-header {
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
}

.container-album-card .card-header .row-owner{
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    font-weight: bold;
    color: #292929;
    font-size: 0.9rem;
}

.container-album-card .card-header .row-owner span:first-child {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.container-album-card .card-header .row-owner span:last-child {
    display: block;
    text-align: right;
    padding-left: 0;
    padding-right: 2px;
}

.container-album-card .card-header .row-owner span:last-child i {
    padding-right: 2px;
}

.container-album-card .card-header .row-date span i {
    padding-right: 2px;
}

.container-album-card .card-header .row-owner span:hover {
    border-bottom: 1px #292929 solid;
    cursor: pointer;
    margin-bottom: -1px;
}

.container-album-card .card-header .row-date span {
    font-size: 0.8rem;
    font-style: italic;
    padding-left: 0;
    color: #292929;
}
