.menu-bar {
   border-bottom: 1px solid grey;
}

.menu-bar .nav-link {
   color: silver;
   border-radius: 0;
}

.menu-bar .nav-link.active {
    color: deepskyblue;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid deepskyblue !important;
    margin-bottom: -2px;
}

.menu-bar .nav-link:hover {
   border-bottom: 2px solid grey;
   margin-bottom: -2px;
}

.no-photos-row {
    margin-top: 20px;
}

.no-photos-row .title {
    font-weight: bold;
    font-size: 18px;
}

.no-photos-row .no-photos {
    display: flex;
    justify-content: center;
}

.container-title {
    font-weight: bold;
    font-size: 18px;
}

.container-details {
    margin-bottom: 40px;
}

.container-permissions {
    margin-bottom: 40px;
    margin-top: 0;
}

.container .row-title {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#settings .row-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#settings .container {
    margin-left: 20px;
}

.tab-content .container .no-permissions {
    display: flex;
    justify-content: center;
}

.tab-content .container .title {
    font-weight: bold;
}

.tab-content .container-tab {
    margin-top: 20px;
}

.container-photos img {
    width: 200px;
    height: 200px;
}
