@charset "UTF-8";

.container-album-card {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

.container-album-card a {
  text-decoration: none;
}

.container-album-card h1 {
  font-weight: 400;
  font-size: 1.6rem;
}

.container-album-card {
  max-width: 250px;
}

.container-album-card img {
    height: 180px;
}

.container-album-card .card {
  float: left;
  padding: 0 1.7rem;
  padding-left: 0;
  padding-right: 0;
}

.container-album-card .card-body {
    padding: 5px 0 2px 5px;
}

.container-album-card a {
    color: black;
    text-decoration: none;
}

.container-album-card a:hover {
    text-underline-position: under;
    text-decoration: underline;
}
