@charset "UTF-8";

.card {
    background: transparent;
}

.container-album-card {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.container-album-card.card:hover {
    box-shadow: 0 2px 2px silver;
}

.container-album-card a {
  text-decoration: none;
}

.container-album-card h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.container-album-card {
  max-width: 250px;
}

.container-album-card img {
    height: 180px;
}

.container-album-card .card {
  float: left;
  padding: 0 1.7rem;
  padding-left: 0;
  padding-right: 0;
}

.container-album-card .card-body {
    padding: 5px 0 2px 5px;
    background-color: transparent;
}

.container-album-card .card-body .card-title{
    margin-bottom: 0;
}

.container-album-card a {
    color: silver;
    text-decoration: none;
}

.container-album-card a:hover {
    color: deepskyblue;
}

.container-album-card .date {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 0.5em;
}
.container-album-card .date span {
    display: block;
    text-align: center;
}

.container-album-card .card-body {
    padding: 5px 0 2px 5px;
}


.container-album-card .card-header {
    color: silver;
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent;
}

.container-album-card .card-header .row-owner{
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    font-size: 0.83rem;
}

.container-album-card .card-header .row-owner span:first-child {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.container-album-card .card-header .row-owner span:last-child {
    display: block;
    text-align: right;
    padding-left: 0;
    padding-right: 2px;
}

.container-album-card .card-header .row-owner span:last-child i {
    padding-right: 0;
}

.container-album-card .card-header .row-date span i {
    padding-right: 2px;
}

.container-album-card .card-header .row-owner span:hover {
    color: deepskyblue;
    cursor: pointer;
    margin-bottom: -1px;
}

.container-album-card .card-header .row-date span {
    font-size: 0.78rem;
    font-style: italic;
    padding-left: 0;
}

.container-album-card .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f48a7;
    color: #fff;
    padding: 0.5em;
}
.container-album-card .date span {
    display: block;
    text-align: center;
}

.container-album-card .date .day {
    font-weight: 700;
    font-size: 17px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}

.container-album-card .date .month {
    text-transform: uppercase;
    font-size: 12px;
}

.container-album-card .date .year {
    font-size: 12px
}

.container-album-card .location-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}

.container-album-card .location-wrapper i {
    padding-right: 3px;
    color: #2f48a7;
}

.container-album-card .card-body {
    padding: 5px 0 2px 5px;
}

.container-album-card a {
    color: silver;
    text-decoration: none;
}

@media all and (max-width: 576px) {
    
    .container-album-card .card-header {
        padding-bottom: 0.1rem;
    }

    .container-album-card .card-header .row-owner {
        display: none;
    }

    .container-album-card .card-header .row-date span {
        font-size: 0.7rem;
    }
    
    .container-album-card .card-body {
        padding-top: 2px;
    }

    .container-album-card a {
        display: flex;
        justify-content: center;
    }

    .container-album-card img {
        height: 120px;
        width: 160px;
    }

    .main-container #albums .album-col {
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
        margin-bottom: 0;
        width: unset;
    }

    .container-album-card h1 {
        font-size: 0.9rem;
    }
}
