.btn {
    width: 100px;
    border-radius: 20px;
}

.btn.btn-outline-primary.btn-sm {
    color: deepskyblue;
    background-color: transparent;
    border-color: deepskyblue;
}

.btn.btn-outline-primary.btn-sm:hover {
    color: black;
    background-color: deepskyblue;
    border-color: silver;
}

.btn.btn-outline-primary.btn-sm:focus {
    box-shadow: 0 0 0;
}

.form-container {
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
}

.form-container-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-container .form-control,.form-select {
    background-color: #202327;
    color: silver
}

.form-container .form-control:focus,.form-select:focus {
    border-color: deepskyblue;
}

.form-container .form-check-input {
    background-color: #2e343a;
    border-color: silver;
}

.form-container .form-check-input:checked {
    background-color: #2e343a;
    color: silver;
}

.form-container select:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0;
    border-width: 1px;
    border-color: silver;
}
    
.form-container .title {
    font-weight: bold;
}

.form-container-button .btn{
    margin-left: 10px;
}

.container-permissions {
    margin-top: 30px;
}

.container-permissions ul li {
    background-color: transparent;
    border: 0;
    color: silver;
}

.container-permissions-title {
    margin-bottom: 10px;
}

.container-permissions-button {  
    display: flex;
    justify-content: right;
}

.container-permissions-button {
    margin-right: 2px;
}

.container-permissions-selected-users {
    margin-top: 12px;
}

#selected-groups li, #selected-users li {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

#selected-users .row, #selected-groups .row {
    padding-left: 10px;
    padding-right: 10px;
}

#selected-users .permission-user, #selected-groups .row {
    display: flex;
    align-items: center;
}

#selected-users .badge, #selected-groups .badge {
    margin-right: 3px;
}

#selected-users .permission-remove-btn, #selected-groups .permission-remove-btn {
    display: flex;
    justify-content: right;
    padding-right: 0;
}

@media (max-width: 576px) {
  .form-container {
    margin: auto;
    max-width: 100%;
  }

  .container-permissions-button {
    margin-right: 5px;
  }

  .btn {
    width: 100px;
  }
}
