.main-container .custom-col {
    margin-left: 0px;
    margin-right: 0px;
}

.main-container .col-filter {
    background-color: #2e343a;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0;
    height: 500px;
    max-height: 600px;
}

.main-container .col-filter .btn-close {
    visibility: hidden;
}

.main-container .form-check {
    margin-left: 0;
}

.main-container  .form-check-input {
    background-color: #2e343a;
    border-color: silver;
}

.main-container .form-check-input:checked {
    background-color: #2e343a;
    color: silver;
}

.main-container select:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0;
    border-width: 1px;
    border-color: silver;
}


.main-container .col-filter .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-container .col-filter .row-filter {
    margin: 10px 5px 10px 5px;
}

.main-container .col-filter .row-filter:last-child {
    margin: 10px 0px 30px 0px;
}

.main-container .col-filter .row-filter .input-group {
    padding-left: 5px;
    padding-right: 5px;
}

.main-container .col-filter .row-filter input, .form-select {
    background-color: #202327;
    color: silver;
    border-color: silver;
    border-radius: 5px;
}

.main-container .col-filter .row-filter .form-check input {
    border-radius: 2px;
}

.main-container .col-filter .row-filter input, .form-select option {
    background-color: #202327;
    color: silver;
}

.main-container .row-filter .col-pill {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.main-container .row-filter .col-pill .bg-secondary {
    background-color: #202327 !important;
    color: silver;
}

.main-container .row-filter span {
    display: flex;
    align-items: center;
}

.main-container .row-filter span button {
    margin-left: 5px;
}

.main-container .row-filter .input-group {
    padding: 0;
}

.main-container .row-filter-users {
    padding-left: 5px;
    padding-right: 5px;
}

.main-container #datepicker {
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 576px) {
    .main-container .col-filter {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background: #202327;
        height: 100% !important;
        max-height: 100%;

        -webkit-transition: .25s ease-in-out; 
        -moz-transition: .25s ease-in-out; 
        -o-transition: .25s ease-in-out; 
        transition: .25s ease-in-out;
    } 
    
    .main-container .col-filter .input-daterange {
        display: block;    
    }

    .main-container .col-filter .title {
        display: flex;
        justify-content: space-between;
    }
}

