<!DOCTYPE html>
<html>
    <head>
        {{ template "base_css" }}
        <link rel="stylesheet" href="/static/css/album-view.css"/>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/css/lightgallery-bundle.min.css" />
        {{ if .write_permission }}
            <link rel="stylesheet" href="/static/css/upload/fileui.css"/>
        {{ end }}

        {{ template "js" }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/zoom/lg-zoom.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/thumbnail/lg-thumbnail.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js"></script>
        <script src="/static/js/album/gallery.js"></script>
        <script src="/static/js/album/delete.js"></script>
        {{ if .write_permission }}
            {{ template "upload" }}
        {{ end }}
        <title>Photos</title>
    </head>
    <header>
        {{ template "header" . }}
    </header>
    <body>
        <div class="container">
        <div class="menu-bar">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <button class="flex-sm-fill text-sm-center nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#photo" type="button">Photos</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#video" type="button">Videos</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#upload" type="button">Upload</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#about" type="button">About</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#settings" type="button">Settings</button>
            </nav>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                <div class="container container-tab">
                    {{ if not .read_permission }}
                            <div class="row">
                                <span class="col-12 title no-permissions">You don't have read permission for this album.</span>
                            </div>
                    {{ else }}
                        {{if .photos}}
                            <div class="container container-sm container-photos">
                                <div class="row justify-content-center">
                                    <div class="col col-md-10" id="album-gallery">
                                        {{ range .photos }}
                                        <a href="/api/albums/{{$.id}}/album/{{.Filename}}/media">
                                            <img src="/api/albums/{{$.id}}/album/{{.Thumbnail}}/media"/>
                                        </a>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ else }}
                            <div class="container">
                                <div class="row no-photos-row">
                                    <div class="col-12 title no-photos">Nothing to see here!!</div>
                                    <div class="col-12 no-photos">Please upload some photos</div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                <div class="container container-tab">
                    {{ if not .read_permission }}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">You don't have read permission for this album.</span>
                        </div>
                    {{ else }}
                        {{if .videos}}
                            <div>videos</div>
                        {{ else }}
                        <div class="container">
                            <div class="row no-photos-row">
                                <div class="col-12 title no-photos">Nothing to see here!!</div>
                                <div class="col-12 no-photos">Please upload some videos</div>
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class="container container-tab">
                    {{ if not .write_permission }}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">You don't have write permission for this album.</span>
                        </div>
                    {{ else }}
                        <div class="container container-upload">
                            <form id="upload-form">
                                <div class="row">
                                    <div class="col col-md-3">
                                    <input type="file" name="files[]" multiple id="upload">
                                    </div>
                                    <div class="col col-md-6">
                                        <button class="btn btn-outline-primary" id="submitButton">Upload</button>
                                        <button class="btn btn-outline-danger" id="abortButton">Stop</button>
                                    </div>
                                </div>
                                <div class="row file-list-container">
                                </div>
                            </form>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="container container-tab">
                    <div class="container container-details">
                        <div class="row row-title">
                            <h4 class="container-title">Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Owner</div>
                            {{ if .is_owner }}
                                <div class="col-lg-4 col">You</div>
                            {{ else }}
                                <div class="col-lg-4 col">{{.owner}}</div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Name</div>
                            <div class="col-lg-4 col">{{.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Created at</div>
                            <div class="col-lg-4 col">{{date .created_at}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Description</div>
                            <div class="col-lg-4 col">{{.description}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Location</div>
                            <div class="col-lg-4 col">{{.location}}</div>
                        </div>
                    </div>
                    {{ if or .is_owner .is_admin }}
                        <div class="container container-permissions">
                            <div class="row row-title">
                                <span class="container-title">Users permissions</span>
                            </div>
                            {{ if .user_permissions }}
                                <div class="row">
                                    {{ range $k,$v := .user_permissions }}
                                        <div class="row">
                                            <div class="col-lg-2 col title">{{ $k }}</div>
                                            <div class="col-lg-4 col">
                                                {{ range $v }}
                                                    <span class="badge bg-success">{{perm_name .}} </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ else }}
                                <div class=row>
                                    <span class="col title">No user permissions set.</span>
                                </div>
                            {{ end }}
                        </div>
                        <div class="container container-permissions">
                            <div class="row row-title">
                                <span class="container-title">Group permissions</span>
                            </div>
                            {{ if .group_permissions }}
                                <div class="row">
                                    {{ range $k,$v := .group_permissions }}
                                        <div class="row">
                                            <div class="col-lg-2 col title">{{ $k }}</div>
                                            <div class="col-lg-4 col">
                                                {{ range $v }}
                                                    <span class="badge bg-success">{{perm_name .}} </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ else }}
                                <div class=row>
                                    <span class="col title">No group permissions set.</span>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="container container-tab">
                    {{ if and ( not .edit_permission ) ( not .delete_permission )}}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">You don't have neither edit or delete permissions for this album.</span>
                        </div>
                    {{ end }}
                    {{ if .edit_permission }}
                        <div class="row row-button">
                            <div class="col-6">
                                <div class="row">
                                    <span class="col-12 title">Edit this album</span>
                                    <span class="col-12">You can edit the details of this album</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <a href="{{.edit_link}}">
                                    <button class="btn btn-warning">Edit album</button>
                                </a>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .delete_permission }}
                        <div class="row row-button">
                            <div class="col-6">
                                <div class="row">
                                    <span class="col-12 title"> Delete this album</span>
                                    <span class="col-12">Once you delete this album, everything is lost!!</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <a onclick="deleteAlbum()">
                                    <button class="btn btn-danger">Delete this album</button>
                                </a>
                           </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
