<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {{ template "base_css" }}
        <link rel="stylesheet" href="/static/css/album/album-view.css"/>
        <link rel="stylesheet" href="/static/css/album/modal.css"/>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/css/lightgallery-bundle.min.css" />
        {{ if .write_permission }}
            <link rel="stylesheet" href="/static/css/upload/fileui.css"/>
        {{ end }}

        {{ template "js" }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/zoom/lg-zoom.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/thumbnail/lg-thumbnail.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/fullscreen/lg-fullscreen.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {{ if or .edit_permission .is_owner }}
            <script src="/static/js/album/alert.js"></script>
            <script src="/static/js/album/spinner.js"></script>
            <script src="/static/js/album/gallery.js"></script>
            <script src="/static/js/album/tags.js"></script>
        {{ else }}
            <script src="/static/js/album/gallery-without-edit.js"></script>
        {{ end }}
        {{ if .write_permission }}
            {{ template "upload" }}
        {{ end }}
        <title>{{translate .lang "Title"}}</title>
    </head>
    <header>
        {{ template "header" . }}
    </header>
    <body>
        <div class="container">
        <div class="menu-bar">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <button class="flex-sm-fill text-sm-center nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#photo" type="button">{{ to_title ( translate .lang "AlbumViewPhotos" ) }}</button>
                <!-- <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#video" type="button">Videos</button> -->
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#upload" type="button">Upload</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#about" type="button">{{ to_title ( translate .lang "AlbumViewAbout" ) }}</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#settings" type="button">{{ to_title (translate .lang "AlbumViewSettings" ) }}</button>
            </nav>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                <div class="container container-tab">
                    {{ if not .read_permission }}
                            <div class="row">
                                <span class="col-12 title no-permissions">{{ caps_first ( translate .lang "AlbumViewNoReadPermission" ) }}</span>
                            </div>
                    {{ else }}
                        {{ if .album.Photos }}
                            {{ if or .edit_permission .is_owner }}
                            <div class="row row-edit-tools">
                                <div class="col-12 col-sm-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Edit mode</label>
                                    </div>
                                </div>
                                <div class="col col-sm-3">
                                    <button class="btn btn-outline-primary btn-sm" id="btn-set-thumbnail" disabled>Set thumbnail</button>
                                </div>
                                <div class="col col-sm-3">
                                    <button class="btn btn-outline-danger btn-sm" id="btn-delete-photos" disabled>Delete photos</button>
                                </div>
                            </div>
                            {{ end }}
                            <div class="container container-sm container-photos">
                                <div class="row justify-content-center">
                                    <div class="col col-md-10" id="album-gallery">
                                        {{ range .album.Photos }}
                                        <a href="/api/albums/{{$.album.ID}}/album/{{.Filename}}/media" data-sub-html="<div class='photo-sub-html'><span>Model: {{ extract_metadata "model" .Metadata }}</span><span>Date: {{ date_photo (extract_metadata "date" .Metadata) }}</span></div>">
                                            <img src="/api/albums/{{$.album.ID}}/album/{{.Thumbnail}}/media"/>
                                            <i class="fas fa-check-circle hidden"></i>
                                        </a>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ else }}
                            <div class="container">
                                <div class="row no-photos-row">
                                    <div class="col-12 title no-photos">{{ caps_first ( translate .lang "AlbumViewNoPhotos" )}}</div>
                                    <div class="col-12 subtitle no-photos">{{ caps_first ( translate .lang "AlbumViewNoPhotosSubMessage" )}}</div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <!-- <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab"> -->
            <!--     <div class="container container-tab"> -->
            <!--         {{ if not .read_permission }} -->
            <!--             <div class="row row-button"> -->
            <!--                 <span class="col-12 title no-permissions">You don't have read permission for this album.</span> -->
            <!--             </div> -->
            <!--         {{ else }} -->
            <!--             {{if .album.Videos}} -->
            <!--                 <div>videos</div> -->
            <!--             {{ else }} -->
            <!--             <div class="container"> -->
            <!--                 <div class="row no-photos-row"> -->
            <!--                     <div class="col-12 title no-photos">Nothing to see here!!</div> -->
            <!--                     <div class="col-12 no-photos">Please upload some videos</div> -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--             {{ end }} -->
            <!--         {{ end }} -->
            <!--     </div> -->
            <!-- </div> -->
            <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class="container container-tab">
                    {{ if not .write_permission }}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">{{ caps_first ( translate .lang "AlbumViewNoWritePermission" )}}</span>
                        </div>
                    {{ else }}
                        <div class="container container-upload">
                            <form id="upload-form">
                                <div class="row">
                                    <div class="col col-md-3">
                                        <input type="file" name="files[]" multiple id="upload">
                                    </div>
                                    <div class="col col-md-6">
                                        <button class="btn btn-outline-primary" id="submitButton">Upload</button>
                                        <button class="btn btn-outline-danger" id="abortButton">Stop</button>
                                    </div>
                                </div>
                                <div class="row file-list-container">
                                </div>
                            </form>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="container container-tab container-about">
                    <div class="container container-details">
                        <div class="row row-title">
                            <h4 class="title">{{ to_title (translate .lang "AlbumDetails") }}</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">{{ to_title (translate .lang "AlbumOwner" )}}</div>
                            {{ if .is_owner }}
                            <div class="col-lg-4 subtitle col">{{translate .lang "You"}}</div>
                            {{ else }}
                                <div class="col-lg-4 subtitle col">{{.album.Owner}}</div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">{{ to_title ( translate .lang "AlbumName" ) }}</div>
                            <div class="col-lg-4 col subtitle">{{.album.Name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">{{ to_title ( translate .lang "AlbumCreatedAt" ) }}</div>
                            <div class="col-lg-4 col subtitle">{{.album.Date}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">{{ to_title ( translate .lang "AlbumDescription" )}}</div>
                            <div class="col-lg-4 col subtitle">{{.album.Description}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">{{ to_title ( translate .lang "AlbumLocation" ) }}</div>
                            <div class="col-lg-4 col subtitle">{{.album.Location}}</div>
                        </div>
                    </div>
                    {{ if or .is_owner .is_admin }}
                        <div class="container container-permissions">
                            <div class="row row-title">
                                <span class="title">{{ caps_first ( translate .lang "AlbumUserPermissions" ) }}</span>
                            </div>
                            {{ if .user_permissions }}
                                <div class="row">
                                    {{ range $k,$v := .user_permissions }}
                                        <div class="row">
                                            <div class="col-lg-2 col title">{{ $k }}</div>
                                            <div class="col-lg-4 col subtitle">
                                                {{ range $v }}
                                                    <span class="badge bg-success">{{perm_name .}} </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ else }}
                                <div class=row>
                                    <span class="col subtitle">{{ caps_first (translate .lang "AlbumViewNoUserPermissions" ) }}</span>
                                </div>
                            {{ end }}
                        </div>
                        <div class="container container-permissions">
                            <div class="row row-title">
                                <span class="title">{{ caps_first (translate .lang "AlbumGroupPermissions" ) }}</span>
                            </div>
                            {{ if .group_permissions }}
                                <div class="row">
                                    {{ range $k,$v := .group_permissions }}
                                        <div class="row">
                                            <div class="col-lg-2 col title">{{ $k }}</div>
                                            <div class="col-lg-4 col subtitle">
                                                {{ range $v }}
                                                    <span class="badge bg-success">{{perm_name .}} </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ else }}
                                <div class=row>
                                    <span class="col subtitle">{{ caps_first ( translate .lang "AlbumViewNoGroupPermissions" )}}</span>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                        <div class="container container-tags">
                            <div class="row row-title">
                                <span class="title">{{ caps_first (translate .lang "NavBarTags") }}</span>
                                {{ if or .edit_permission .is_owner }}
                                    <div class="tag-buttons">
                                        <button type="button" class="btn btn-outline-primary btn-sm btn-associate"><i class="fas fa-plus"></i></button>
                                        <a type="button" href="/tags" class="btn btn-outline-primary btn-sm"><i class="fas fa-cog"></i></a>
                                    </div>
                                {{ end }}
                            </div>
                            <div class="row row-tags">
                            </div>
                            <div class="modal fade" tabindex="-1" role="dialog" id="addTag">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add tag</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form id="addTagForm">
                                            <div class="modal-body">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="container container-tab container-settings">
                    {{ if and ( not .edit_permission ) ( not .delete_permission )}}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">{{ caps_first ( translate .lang "AlbumViewNoEditOrDeletePermissions" ) }}</span>
                        </div>
                    {{ end }}
                    {{ if .edit_permission }}
                        <div class="row row-button">
                            <div class="col-6">
                                <div class="row">
                                    <span class="col-12 title">{{ caps_first (translate .lang "AlbumViewEditAlbum") }}</span>
                                    <span class="col-12 subtitle">{{ caps_first (translate .lang "AlbumViewEditAlbumMessage") }}</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <a href="{{.edit_link}}">
                                    <button class="btn btn-warning">Edit</button>
                                </a>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .delete_permission }}
                        <div class="row row-button">
                            <div class="col-6">
                                <div class="row">
                                    <span class="col-12 title">{{ caps_first (translate .lang "AlbumViewDeleteAlbum") }}</span>
                                    <span class="col-12 subtitle">{{ caps_first (translate .lang "AlbumViewDeleteMessageAlbum") }}</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <input type="hidden" value="{{.delete_link}}"></input>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">{{ caps_first (translate .lang "Delete") }}</button>
                                <!-- delete modal -->
                                <div class="modal fade" id="deleteModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete album</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ caps_first (translate .lang "AlbumViewDeleteWarningMessage") }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a href="{{.delete_link}}">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteAlbumBtn">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>
