<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {{ template "base_css" }}
        <link rel="stylesheet" href="/static/css/album-view.css"/>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/css/lightgallery-bundle.min.css" />
        {{ if .write_permission }}
            <link rel="stylesheet" href="/static/css/upload/fileui.css"/>
        {{ end }}

        {{ template "js" }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/zoom/lg-zoom.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/plugins/thumbnail/lg-thumbnail.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {{ if or .edit_permissions .is_owner }}
            <script src="/static/js/album/alert.js"></script>
            <script src="/static/js/album/spinner.js"></script>
            <script src="/static/js/album/gallery.js"></script>
        {{ else }}
            <script src="/static/js/album/gallery-without-edit.js"></script>
        {{ end }}
        {{ if .write_permission }}
            {{ template "upload" }}
        {{ end }}
        <title>Photos</title>
    </head>
    <header>
        {{ template "header" . }}
    </header>
    <body>
        <div class="container">
        <div class="menu-bar">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <button class="flex-sm-fill text-sm-center nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#photo" type="button">Photos</button>
                <!-- <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#video" type="button">Videos</button> -->
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#upload" type="button">Upload</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#about" type="button">About</button>
                <button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" data-bs-target="#settings" type="button">Settings</button>
            </nav>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                <div class="container container-tab">
                    {{ if not .read_permission }}
                            <div class="row">
                                <span class="col-12 title no-permissions">You don't have read permission for this album.</span>
                            </div>
                    {{ else }}
                        {{ if .album.Photos }}
                            {{ if or .edit_permissions .is_owner }}
                            <div class="row row-edit-tools">
                                <div class="col-12 col-sm-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Select mode</label>
                                    </div>
                                </div>
                                <div class="col col-sm-2">
                                    <button class="btn btn-outline-primary btn-sm" id="btn-set-thumbnail" disabled>Set thumbnail</button>
                                </div>
                                <div class="col col-sm-2">
                                    <button class="btn btn-outline-danger btn-sm" id="btn-delete-photos" disabled>Delete photos</button>
                                </div>
                            </div>
                            {{ end }}
                            <div class="container container-sm container-photos">
                                <div class="row justify-content-center">
                                    <div class="col col-md-10" id="album-gallery">
                                        {{ range .album.Photos }}
                                        <a href="/api/albums/{{$.album.ID}}/album/{{.Filename}}/media">
                                            <img src="/api/albums/{{$.album.ID}}/album/{{.Thumbnail}}/media"/>
                                            <i class="fas fa-check-circle hidden"></i>
                                        </a>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ else }}
                            <div class="container">
                                <div class="row no-photos-row">
                                    <div class="col-12 title no-photos">Nothing to see here!!</div>
                                    <div class="col-12 subtitle no-photos">Please upload some photos</div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <!-- <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab"> -->
            <!--     <div class="container container-tab"> -->
            <!--         {{ if not .read_permission }} -->
            <!--             <div class="row row-button"> -->
            <!--                 <span class="col-12 title no-permissions">You don't have read permission for this album.</span> -->
            <!--             </div> -->
            <!--         {{ else }} -->
            <!--             {{if .album.Videos}} -->
            <!--                 <div>videos</div> -->
            <!--             {{ else }} -->
            <!--             <div class="container"> -->
            <!--                 <div class="row no-photos-row"> -->
            <!--                     <div class="col-12 title no-photos">Nothing to see here!!</div> -->
            <!--                     <div class="col-12 no-photos">Please upload some videos</div> -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--             {{ end }} -->
            <!--         {{ end }} -->
            <!--     </div> -->
            <!-- </div> -->
            <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class="container container-tab">
                    {{ if not .write_permission }}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">You don't have write permission for this album.</span>
                        </div>
                    {{ else }}
                        <div class="container container-upload">
                            <form id="upload-form">
                                <div class="row">
                                    <div class="col col-md-3">
                                        <input type="file" name="files[]" multiple id="upload">
                                    </div>
                                    <div class="col col-md-6">
                                        <button class="btn btn-outline-primary" id="submitButton">Upload</button>
                                        <button class="btn btn-outline-danger" id="abortButton">Stop</button>
                                    </div>
                                </div>
                                <div class="row file-list-container">
                                </div>
                            </form>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="container container-tab container-about">
                    <div class="container container-details">
                        <div class="row row-title">
                            <h4 class="title">Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Owner</div>
                            {{ if .is_owner }}
                                <div class="col-lg-4 subtitle col">You</div>
                            {{ else }}
                                <div class="col-lg-4 subtitle col">{{.album.Owner}}</div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Name</div>
                            <div class="col-lg-4 col subtitle">{{.album.Name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Created at</div>
                            <div class="col-lg-4 col subtitle">{{.album.Date}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Description</div>
                            <div class="col-lg-4 col subtitle">{{.album.Description}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col title">Location</div>
                            <div class="col-lg-4 col subtitle">{{.album.Location}}</div>
                        </div>
                    </div>
                    {{ if or .is_owner .is_admin }}
                        <div class="container container-permissions">
                            <div class="row row-title">
                                <span class="title">Users permissions</span>
                            </div>
                            {{ if .user_permissions }}
                                <div class="row">
                                    {{ range $k,$v := .user_permissions }}
                                        <div class="row">
                                            <div class="col-lg-2 col title">{{ $k }}</div>
                                            <div class="col-lg-4 col subtitle">
                                                {{ range $v }}
                                                    <span class="badge bg-success">{{perm_name .}} </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ else }}
                                <div class=row>
                                    <span class="col subtitle">No user permissions set.</span>
                                </div>
                            {{ end }}
                        </div>
                        <div class="container container-permissions">
                            <div class="row row-title">
                                <span class="title">Group permissions</span>
                            </div>
                            {{ if .group_permissions }}
                                <div class="row">
                                    {{ range $k,$v := .group_permissions }}
                                        <div class="row">
                                            <div class="col-lg-2 col title">{{ $k }}</div>
                                            <div class="col-lg-4 col subtitle">
                                                {{ range $v }}
                                                    <span class="badge bg-success">{{perm_name .}} </span>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ else }}
                                <div class=row>
                                    <span class="col subtitle">No group permissions set.</span>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="container container-tab container-settings">
                    {{ if and ( not .edit_permission ) ( not .delete_permission )}}
                        <div class="row row-button">
                            <span class="col-12 title no-permissions">You don't have neither edit or delete permissions for this album.</span>
                        </div>
                    {{ end }}
                    {{ if .edit_permission }}
                        <div class="row row-button">
                            <div class="col-6">
                                <div class="row">
                                    <span class="col-12 title">Edit this album</span>
                                    <span class="col-12 subtitle">You can edit the details of this album</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <a href="{{.edit_link}}">
                                    <button class="btn btn-warning">Edit album</button>
                                </a>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .delete_permission }}
                        <div class="row row-button">
                            <div class="col-6">
                                <div class="row">
                                    <span class="col-12 title"> Delete this album</span>
                                    <span class="col-12 subtitle">Once you delete this album, everything is lost!!</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <input type="hidden" value="{{.delete_link}}"></input>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete album</button>
                                <!-- delete modal -->
                                <div class="modal fade" id="deleteModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete album</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you really want to delete this album?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a href="{{.delete_link}}">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteAlbumBtn">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
