<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/common.css"/>
    </head>
    <body>
        <header>
            {{ template "header" }}
        </header>
        <p>{{ .username }}</p>
        {{ if .ownAlbums }}
            <p> User owns albums: </p>
            <ul>
            {{ range .ownAlbums }}
            <li> {{ .Name }} </li>
            {{ end }}
            </ul>
        {{ end }}
        <div>
            {{ if .sharedAlbums }}
            <div> User shared albums: </div>
            <ul>
            {{ range .sharedAlbums }}
                <li> {{ .Name }} </li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
    </body>
    <footer>
        {{ template "footer" }}
    </footer>
</html>
