<!DOCTYPE html>
<html>
    <head>
        {{ template "base_css" }}
        <link rel="stylesheet" href="/static/css/index.css"/>
        <link rel="stylesheet" href="/static/css/album-card.css"/>
        {{ template "js" }}
        <title>Photos</title>
    </head>
    <body>
        <header>
            {{ template "header" . }}
        </header>
        <div class="container">
            <div class="row">
                {{ range .personal_albums }}
                    {{ template "album-card" . }}
                {{ end }}
            </div>
        </div>
        {{ if .shared_albums }}
            <div class="container">
                <div class="row">
                    <div> Shared albums: </div>
                </div>
                <div class="row">
                    <ul>
                        {{ range .shared_albums }}
                            {{ template "album-card" . }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    </body>
    <!-- <footer> -->
    <!--     {{ template "footer" }} -->
    <!-- </footer> -->
</html>
