{{ define "album-card" }}
<div class="container-album-card col-xs-12 col-lg-9">
    <div class="album card">
        <div class="wrapper">
            <div class="date">
              <span class="day">{{day .Date}}</span>
              <span class="month">{{month .Date}}</span>
              <span class="year">{{year .Date}}</span>
            </div>
            <div class="location-wrapper">
              <span class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    {{.Location}}
              </span>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">{{.Owner}}</span>
                    <h1 class="title"><a href="/album/{{.ID}}">{{.Name}}</a></h1>
                    <p class="text">{{.Description}}</p>
                <!--  <label for="show-menu" class="menu-button"><span></span></label>-->
                </div>
                <!--
                <input type="checkbox" id="show-menu" />
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
{{ end }}
