{{ define "album-card" }}
<div class="container-album-card col">
    <div class="album card">
        <div class="wrapper">
            <div class="date">
              <span class="day">{{day .Date}}</span>
              <span class="month">{{month .Date}}</span>
              <span class="year">{{year .Date}}</span>
            </div>
            <div class="location-wrapper">
              <span class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    {{.Location}}
              </span>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">{{.Owner}}</span>
                    <h1 class="title"><a href="/album/{{.ID}}">{{.Name}}</a></h1>
                    <p class="text">{{.Description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
