{{ define "header" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleNavbar" aria-controls="#toggleNavbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleNavbar">
        <div class="col navbar-left-side">
            <ul class="navbar-nav">
            {{ if .user_role }}
                {{ if or ( eq .user_role "editor" ) ( eq .user_role "admin" ) }}
                    <li class="nav-item active">
                        <a class="nav-link" href="/album">{{.CreateAlbum}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tags">{{.Tags}}</a>
                    </li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
        <div class="col navbar-right-side">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="navbar-nav navbar-nav-user">{{ .name }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>
{{ end }}
